@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --gradient: rgba(4,9,30,0.7);
    --color-red: #f44336;
    --box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    --light-red: rgba(226,0,0,0.7);
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--gradient),var(--gradient)), url(../images/banner.png); linear-gradient(var(--gradient),var(gradient))
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
.navbar .fas{
    color: #fff;
    font-size: 22px;
    display: none;
    margin: 10px;
}
.navbar img{
    width: 150px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px;
}
.nav-links a{
    text-decoration: none;
    color: #fff ;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    transition: 0.3s;
    width: 0%;
    height: 2px;
    background-color:var(--color-red) ;
    display: block;
    margin: 0 auto;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.text-box{
    width: 90%;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 64px;

}
.text-box p{
    font-size: 14px;
    padding: 14px 0 40px;
}
.text-box a{
    text-decoration: none;
    border: 1px solid;
    color: #fff;
    font-size: 13px;
    padding: 13px 35px;
    
}
.text-box a:hover{
    border: 1px solid var(--color-red);
    transition: 1s;
    background-color: var(--color-red);
}
@media (max-width:700px){
    .nav-links{
        display: none;
    }
    .navbar .fas{
        display: block;
    }
    .text-box h1{
        font-size: 22px;
    }
}
/* -----------course section-------- */
.course{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 5%;
}
.course h1{
    font-size: 32px;
    font-weight: 700;
}
.course p{
    color: #777;
    font-size: 13px;
    padding: 10px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.course-col{
    flex-basis: 31%;
    border-radius: 10px;
    background-color: #fff3f3;
    padding: 12px 16px;
    transition: 0.5s;
    margin: 10px 0;
}
.course-col h4{
    font-size: 18px;
}
.course-col p{
    font-size: 15px;
    line-height: 22px;
}
.course-col:hover{
    box-shadow: var(--box-shadow);
}
@media(max-width :700px){
    .row{
          flex-direction: column;
    }
}
/* ------------------------campus section------------------ */
.campus p{
    color: #777;
    font-size: 13px;
    padding: 10px 0;
}
.campus{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 5%;
}
.campus h1{
    font-size: 32px;
    font-weight: 700;
}
.campus-col{
    transition: 0.5s;
    flex-basis: 31%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}
.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}
.city-hover{
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 0.5s;
}
.campus-col:hover .city-hover{
    background-color: var(--light-red);
}
.campus-col .city-hover h3{
    font-weight: 500;
    position: absolute;  
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s
} 
.campus-col:hover h3{
    opacity: 1;
    bottom: 48%;
    transition: 1s; 
}
/* ------------------cactus-------------[] */
.cactus p{
    color: #777;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
}
.cactus{
    width: 80%;
    margin: 0 auto;
    text-align: start;
    padding-top: 100px;
    margin-bottom: 5%;
}
.cactus h1{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.cactus-col{
    text-align: start;
    flex-basis: 31%;
    margin: 10px 0;
}
.cactus-col img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 12px;

}
.cactus-col h3{
    font-weight: 700;
    padding: 15px 0 10px ;
}
.cactus-col p{
    padding: 5px 0 50px;
}
/* ------------------------------roza------------------- */
.roza{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 5%;
}
.roza h1{
    font-size: 32px;
    font-weight: 700;
}
.roza p{
    color: #777;
    font-size: 13px;
    padding: 10px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.roza-col{
    display: flex;
    flex-basis: 44%;
    border-radius: 10px;
    background-color: #fff3f3;
    padding: 12px 16px;
    transition: 0.5s;
    margin: 10px 0;
}
.roza-col .tex h4{
    font-size: 18px;
    text-align: start;
}
.roza-col .tex p{
    font-size: 15px;
    line-height: 22px;
    text-align: start;
}
.roza-col .rasm img{
    border-radius: 50%;
    width: 40px;
    margin-right: 40px;
    flex;
    border: 1 px solid;
}
.icons{
    color: rgb(255, 0, 0);
    text-align: start;
}
/* ---------------------babby--------------- */
.babby{
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 35vh;
    background-image: linear-gradient(var(--gradient),var(--gradient)), url(../images/banner2.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}
.text-card{
    width: 90%;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.babby h1{
    color: #fff;
    padding: 18px;
    font-weight: 700;
}
.babby a{
    text-decoration: none;
    border: 1px solid;
    color: #fff;
    font-size: 8px;
    padding: 8px 28px;
    margin-bottom: 30px;
}
.babby a:hover{
    background-color: rgb(47, 71, 71);
    border: 1 px solid rgb(47, 71, 71) ;
}
/* ---------------------footer------------- */
.footer{
    text-align: center;
    padding: 100px 0 50px;
    transition: 0.5s;
}
.footer h3{
    font-size: 32px;
    font-weight: 700;
}
.footer p{
    color: #777;
    font-size: 13px;
    padding: 10px 0;
}
.footer .ikonka .fab{
    cursor: pointer;
    padding-left: 20px;
    color: rgb(255, 0, 0);
    transition: 0.5s;
}
.footer .ikonka .fab.fa-facebook:hover{
    color: blue;
}
.footer .ikonka .fab.fa-twitter:hover{
    color: rgb(0, 247, 255);
}
.footer .ikonka .fab.fa-instagram:hover{
    font-weight: 900;
    color: rgb(255, 0, 0);
}
.footer .ikonka .fab.fa-invision:hover{
    color: rgb(234, 0, 255);
}





